import /vendor/etc/init/tee.rc
import /vendor/etc/init/trustonic.rc

on init
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw
    start boot-hal-1-2
    
    # Create a more standard /dev/block layout for our scripts
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice

on fs
on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
    install_keyring

    mkdir /mnt/vendor 0700 root root
    mkdir /mnt/vendor/persist 0700 root root
    mount ext4 /dev/block/by-name/persist /mnt/vendor/persist
    mkdir /mnt/vendor/persist/paytrigger 0700 root root
    mkdir /mnt/vendor/persist/mcRegistry 0700 root root

on post-fs
    # Support A/B feature for EMMC and UFS boot region
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

    # Support A/B feature for combo emmc and ufs OTA update
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_emmc_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_emmc_b
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_ufs_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_ufs_b

    # Support A/B feature for combo emmc and ufs OTA update
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/by-name/preloader_emmc_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/by-name/preloader_emmc_b
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/by-name/preloader_ufs_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/by-name/preloader_ufs_b

    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils

    symlink /dev/block/mapper/pl_a /dev/block/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/by-name/preloader_raw_b
    symlink /dev/block/mapper/pl_a /dev/block/platform/bootdevice/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/platform/bootdevice/by-name/preloader_raw_b

    start mtk.plpath.utils.link

service mtk.plpath.utils.link /system/bin/mtk_plpath_utils
    class main
    user root
    group root system
    disabled
    oneshot
    seclabel u:r:recovery:s0

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc log
    disabled
    seclabel u:r:recovery:s0

service paytrigger_hal_service /system/bin/vendor.mediatek.hardware.paytrigger@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vendor.keymaster-4-1-trustonic /system/bin/android.hardware.keymaster@4.1-service.trustonic
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service gatekeeperd /system/bin/gatekeeperd /data/misc/gatekeeper
    seclabel u:r:recovery:s0

service vendor.gatekeeper-1-0 /system/bin/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster_attestation-1-1 /system/bin/vendor.mediatek.hardware.keymaster_attestation@1.1-service
    interface vendor.mediatek.hardware.keymaster_attestation@1.0::IKeymasterDevice default
    interface vendor.mediatek.hardware.keymaster_attestation@1.1::IKeymasterDevice default
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
    start keystore2
    start mobicore
    start paytrigger_hal_service
    start vendor.keymaster-4-1-trustonic
    start vendor.gatekeeper-1-0
    start keymaster_attestation-1-1

on property:vendor.sys.listener.registered=true
    start vendor.gatekeeper-1-0
    start vendor.keymaster-4-1-trustonic
   
on property:ro.crypto.state=unsupported
    stop mobicore
    stop paytrigger_hal_service
    stop vendor.keymaster-4-1-trustonic
    stop vendor.gatekeeper-1-0
    stop keymaster_attestation-1-1

on property:ro.crypto.state=unencrypted
    stop mobicore
    stop paytrigger_hal_service
    stop vendor.keymaster-4-1-trustonic
    stop vendor.gatekeeper-1-0
    stop keymaster_attestation-1-1

on property:twrp.all.users.decrypted=true
    stop mobicore
    stop paytrigger_hal_service
    stop vendor.keymaster-4-1-trustonic
    stop vendor.gatekeeper-1-0
    stop keymaster_attestation-1-1

on boot
    start health-hal-2-1
